# Elixir/Phoenix-specific ignores
/_build/
/cover/
/deps/
/doc/
/.fetch/
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
/node_modules/
/priv/static/

# Hardhat-specific ignores
# Hinweis: Hardhat-spezifische Ignorierungen werden in der .gitignore im 'chain'-Verzeichnis behandelt

# Docker-compose override for Mutagen (optional for Mac users)
compose.override.yml

# General file ignores
.DS_Store
Thumbs.db
*.log
*.pid
*.pid.lock

# System-specific ignores
.idea/
.vscode/
*.swp
*.swo
*~
